<h1>Title: <%= locals.book.title %></h1>

<p>
    <strong>Author:</strong>
    <a href="<%= locals.book.author.url %>"><%= locals.book.author.name %></a>
</p>

<p><strong>Summary:</strong> <%= locals.book.summary %></p>

<p><strong>ISBN:</strong> <%= locals.book.isbn %></p>

<p>
    <strong>Genre:</strong>
    <% locals.book.genre.forEach((genre, index) => { %>
        <a href="<%= genre.url %>"><%= genre.name %></a>
        <% if (index < book.genre.length - 1) { %>
            |,
        <% } %>
    <% }) %>
</p>

<div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>
    <% locals.book_instances.forEach((bookinstance) => { %>
        <hr />
        <% if (bookinstance.status === "Available") { %>
            <span class="text-success"><%= bookinstance.status %></span>
        <% } else if (bookinstance.status === "Maintenance") { %>
            <span class="text-danger"><%= bookinstance.status %></span>
        <% } else { %>
            <span class="text-warning"><%= bookinstance.status %></span>
        <% } %>
        <p><strong>Imprint:</strong> <%= bookinstance.imprint %></p>
        <% if (bookinstance.status !== "Available") { %>
            <span>(Due: <%= bookinstance.due_back_formatted %>)</span>
        <% } %>
    <% }) %>
    <% if (!locals.book_instances.length) { %>
        <p>There are no copies of this book in the library.</p>
    <% } %>
</div>
