<h1>ID: <%= locals.bookinstance._id %></h1>

<p>
    <strong>Title:</strong>
    <a href="<%= locals.bookinstance.book.url %>"><%= locals.bookinstance.book.title %></a>
</p>

<p><strong>Imprint: </strong><%= locals.bookinstance.imprint %></p>

<p>
    <strong>Status:</strong>
    <% if (locals.bookinstance.status === "Available") { %>
        <span class="text-success"><%= locals.bookinstance.status %></span>
    <% } else if (locals.bookinstance.status === "Maintenance") { %>
        <span class="text-danger"><%= locals.bookinstance.status %></span>
    <% } else { %>
        <span class="text-warning"><%= locals.bookinstance.status %></span>
    <% }
    if (locals.bookinstance.status !== "Available") { %>
        <p>Due back: <%= locals.bookinstance.due_back_formatted %></p>
    <% } %>
</p>

<hr />
<p>
    <a href="<%= locals.bookinstance.url + '/delete' %>">Delete BookInstance</a> |
    <a href="<%= locals.bookinstance.url + '/update' %>">Update BookInstance</a>
</p>
